
.loading_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 1.5em;
    color: #333;
}
